[submodule "ports/lua/lua"]
	path = ports/lua/lua
	url = https://github.com/lua/lua.git

[submodule "ports/cpython/cpython"]
	path = ports/cpython/cpython
	url = https://github.com/python/cpython.git
	branch = 3.14

[submodule "ports/doom/doomgeneric"]
	path = ports/doom/doomgeneric
	url = https://github.com/ozkl/doomgeneric.git

